.controversial {
    color:yellow;
}
.medium {
    color:red;
}
.low {
    color:green;
} 



  
.navbar {
    background: linear-gradient(to right, #000000, #575656, #aaa5a5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    opacity: 0.9;
  
  }
  
#navbar a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    transition: color 0.2s ease-in-out;
  }
  
#navbar a:hover {
    color: #a5d688;
  }
  

#navbar h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
  background: linear-gradient(to right, #f1a5a8, #f3b4a3, #f5d693, #aee298, #a7f1d7, #9edce7, #979ee0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
#navbar a:hover {
    color: #a5d688;
  }
  

.navbar .dropdown-menu {
    background-color: #050505;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    display: none;
  }
  
.navbar .dropdown-menu a {
    color: #faf5f5;
    display: block;
    padding: 5px 0;
    margin: 5px 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
.navbar .dropdown-menu a:hover {
    background-color: #8bb880;
    color: #ffffff;
  }
  
.navbar .dropdown:hover .dropdown-menu {
    display: block;
  }



h1, h2, h3, h4 {

    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}


.footer { 
  position: fixed;     
  text-align: center;    
  bottom: 30px; 
  width: 100%;
      }  


.accordion {
  background-color: rgb(132, 182, 132);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s;
  border-top: 2em solid rgb(10, 10, 10);
  border-bottom: 2em solid rgb(7, 7, 7);
  border-left: 2em solid rgb(10, 10, 10);
  border-right: 2em solid rgb(5, 5, 5);
  border-radius: 14px;
    }

.active,.accordion:hover {
    background-color: #000000;

    }

.accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }

.active:after {
    content: "\2212";
    }

.panel {
    padding: 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
    }
    
.pagination .page-item {
    margin: 0;
    }
    
.pagination .page-link {
    margin: 0 5px;

    }


.forum-title {
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  padding: 20px;

    }

.password-reset-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
    }

.newuser-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      
    }
    
.select-avatars {
    margin-top: 20px;
  }
    
.avatar-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50% black;
    
    }
    