/* .controversial {
    color:yellow;
}
.medium {
    color:red;
}
.low {
    color:green;
} 


#myChart {
    display: inline-block;
    position: relative;
    width: auto;
  }


body{
    
    margin-top:20px;
    background:#accfe9;
    
}

#navbar {

border-width: 200px;
}

.btn {
        margin-bottom: 5px;
    }
    
.grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }
    
.grid .grid-body {
        padding: 15px 20px 15px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }
    
.search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
    }
    
.search table tr:hover {
        cursor: pointer;
    }
    
.search table tr td.image {
        width: 50px;
    }
    
.search table tr td img {
        width: 50px;
        height: 50px;
    }
    
.search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
    }
    
.search table tr td.price {
        font-size: 1.5em;
        line-height: 50px;
    }
    
.search #price1,
.search #price2 {
        display: inline;
        font-weight: 600;
    }  */


    /* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .login-page {
      bottom: 10vh;
    }
  }
  
  @media screen and (max-width: 576px) {
    .login-page {
      bottom: 5vh;
    }
  }


  <style>
  #navbar {
    background-color: #88BDBC;
  }
  
  .nav-link {
    color: #ffffff;
  }

  .nav-link:hover {
    color: #F9F7F7;
  }

  .dropdown-menu {
    background-color: #C1D5D6;
  }

  .dropdown-item {
    color: #ffffff;
  }

  .dropdown-item:hover {
    background-color: #F9F7F7;
    color: #88BDBC;
  }

  .bi-egg {
    color: #F9F7F7;
  }
</style>