
{% extends 'base.html' %}



{% block title %} About {% endblock %}







{% block body %}




<style>

body {
    background-image: url('/static/img/background-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
  }
  

h1{

    font-family: Courier New;

}

a {
    color:rgb(132, 182, 132);
    margin: 0;
    font-family: arial;
    font-size:  20px;
    font-weight: bold;
    border: 2px solid rgb(132, 182, 132);
   
    
}

.footer { 
          position: fixed;     
          text-align: center;    
          bottom: 30px; 
          width: 100%;
      }  



    .accordion {
        background-color: rgb(132, 182, 132);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        transition: 0.4s;
        border-top: 2em solid rgb(10, 10, 10);
        border-bottom: 2em solid rgb(7, 7, 7);
        border-left: 2em solid rgb(10, 10, 10);
        border-right: 2em solid rgb(5, 5, 5);
        border-radius: 14px;
    }

    .active,
    .accordion:hover {
        background-color: #000000;
    }

    .accordion:after {
        content: '\002B';
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 18px;
        display: none;
        background-color: white;
        overflow: hidden;
        width: 100%;
        text-align: center;
        margin: auto;
    }
</style>


<br>
<h1 style=" text-align: center; "> ABOUT HAPPY SNACKY </h1><br>

<br>
<div class="container">
    <button class="accordion">About Happy Snacky</button>
    <div class="panel">
        <p>Hey there, fellow foodies and allergy sufferers! Welcome to Happy Snacky, where we take food allergies seriously!
            We've compiled a comprehensive list of allergens that will make you go "ah-choo!".
            Whether you're allergic to peanuts, gluten, dairy, or anything in between, we're here to help you navigate the crazy world of food.
            So, stick around and let us be your guide to a safe and fun food experience. Happy browsing! ;)
        </p>
    </div>
</div>
<div class="container">
    <button class="accordion">Creator </button>
    <div class="panel">
        <p>Meet Ismaiana Lima (Isma), an software engineer originally from Brazil who is graduating from a coding bootcamp!
            With a focus on full-stack web development. 
            She's determined to land her first software engineering role and is always seeking opportunities to learn and grow in the field. 
            In her free time, Isma enjoys excersing, video games and reading.
            With her new skills and passion for coding, Isma is ready to take on new challenges!<br>
            For more projects check her <a href="https://github.com/Ismaiana"> GitHub </a>
        </p>
    </div>
</div>

<script>
    const acc = document.getElementsByClassName("accordion");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            const panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>




  
       <div class="footer"> <a href="/profile"> Go back </a> </div>
 
       
 
                      
{% endblock %}