




{% extends 'base.html' %}
{% block title %}Forum Rules{% endblock %}
{% block head %}


<ol>
    <li>Be respectful: Treat others with respect and refrain from using offensive language or discriminatory remarks.</li>
    <li>Stay on topic: Make sure your comments relate to foods, allergies and the app. Off-topic comments may be removed.</li>
    <li>Keep it clean: Avoid posting any inappropriate content, including spam, scams, or malware.</li>
    <li>Share accurate information: When making recommendations or providing advice, ensure that the information is accurate and based on reliable sources.</li>
    <li>Protect privacy: Do not share any personal information, including your own or others'.</li>
    <li>Use common sense: If you are unsure if your post is appropriate, ask yourself if it would be something you would want to read or respond to.</li>
    <li>Report violations: If you see any violations of these forum rules or notice any suspicious activity, please report it immediately.</li>
  </ol>
  Remember, these rules are meant to create a positive and helpful environment for users of the allergen app forum, and to ensure that everyone can share and receive information and support safely and respectfully.




  <div class="footer" style="position: fixed; text-align: center; bottom: 30px; width: 100%;"> <a href="/forum"> Go back </a> </div>
  {% endblock %}