{% extends 'base.html' %}
{% block title %}Discussions{% endblock %}
{% block head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">




{% endblock %}


{% block body %}

<style>

a{

color:rgb(91, 156, 91);

}
.container {
  margin: auto;
  width: 80%;
}

.forum-rules {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  padding: 20px;
}



.forum-devider {
  border-top: 2px solid #ddd;
  margin-bottom: 20px;
}
</style>

<br>
<div class="container">
  <!-- FORUM RULES  -->
  <div class="forum-rules">
    <div class="main-forum-title">
      <h1 style="text-align: center;"><i class="bi bi-lightbulb"></i> WELCOME TO FORUM</h1>
    </div>
 
    <div class="forum-row">
      <div class="forum-column center"></div>
      <div class="forum-description forum-column">
        <h4 style="text-align: center; "><a href="/forum_rules">FORUM RULES</a></h4>
      </div>
    </div>
  </div>

  <hr>
  <br>

  <!-- THREADS -->
 
  <div class="forum">
    <div class="forum-title">

      <br>
      <h1>THREADS</h1>
    </div>
    <div class="forum-row">
      <div class="forum-column center"></div>
      <div class="forum-description subforum-column">
        <h4><i class="bi bi-lightbulb"></i> <a href="/discussions">General Discussion</a></h4>
        <p>A forum where we talk about what we can't eat, and cry about how we miss cheese.</p>
      </div>
      <div class="forum-column center">
        <span>0 Posts</span>
      </div>
      <div class="forum-column"></div>
    </div>
    <hr>
    <br>
    

    <div class="forum-row">
      <div class="forum-column center"></div>
      <div class="forum-column">
        <h4><i class="bi bi-lightbulb"></i> <a href="/recommendations">Products Recommendations</a></h4>
        <p>Got a favorite food brand that's allergy-friendly? Or a tasty snack you can't stop recommending? Share your finds with the community and spread the love!</p>
      </div>
      <div class="forum-column center">
        <span>0 Posts</span>
      </div>
      <div class="forum-column"></div>
    </div>
    <hr>
    <br>

    <div class="forum-row">
      <div class="forum-column center"></div>
      <div class="forum-column">
        <h4><i class="bi bi-lightbulb"></i> <a href="/reports">Products/Bugs report</a></h4>
        <p>Did you find a bug in our app/data? Don't squish it! Report it to us instead.</p>
      </div>
      <div class="forum-column center">
        <span>0 Posts</span>
      </div>
      <div class="forum-column"></div>
    </div>
  </div>
</div>



    <script src="main.js"></script>

    


    {% endblock %}