{% extends 'base.html' %}
{% block title %}Discussions{% endblock %}
{% block head %}
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- FORM FOR FORUM PAGE  -->

<form action="/forum" class="login-form">


    <div class="container">
        <div class="forum-rules">
            <div class="forum-title">
                <h1><i class="bi bi-lightbulb"> </i>WELCOME TO FORUM</h1><br>
            </div>
            <div class="forum-row">
                <div class="forum-column center">
    
                </div>
                <div class="forum-description forum-column">
                    <h4><a href="/forum_rules"><p>FORUM RULES</p></a></h4>
        </div>

        <!-- THREADS  -->
        <div class="forum">
            <div class="forum-title">
            </div>
            <hr class="forum-devider">
            <h1>THREADS</h1><br>
            <div class="forum-row">
                <div class="forum-column center">
                </div>
                <div class="forum-description subforum-column">
                    <h4> <i class="bi bi-lightbulb"></i> <a href="/discussions">General Discussion </a></h4>
                    <p>General discussion, questions and experiences.</p>
                </div>
                <div class="forum-column center">
                    <span>0 Posts</span>
                </div><br>
                <div class="forum-column">
                </div>
            </div>
            </div>
            <div class="forum">
                <div class="forum-row">
                    <div class="forum-column center">
                    </div>
                    <div class="forum-column">
                        <h4><i class="bi bi-lightbulb"></i> <a href="/recommendations">Products Recommendations</a></h4>
                        <p>Products and foods recommendations.</p>
                    </div>
                    <div class="forum-column center">
                        <span>0 Posts </span>
                    </div><br>
                    <div class="forum-column">
                    </div>
                </div>
                </div>

            <div class="forum-column center">
    
            </div>
            <div class="forum-column">
                <h4><i class="bi bi-lightbulb"></i> <a href="/reports">Products/Bugs report</a></h4>
                <p>Report bugs in our website data.</p>
            </div>
            <div class="forum-column center">
                <span>0 Posts </span>
            </div><br>
            <div class="forum-column">
            </div>
        </div>
    </div>
</div>    
<!-- END FORM  -->
    </form>


    <script src="main.js"></script>

    


    {% endblock %}