{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

{% block body %}

    <h1>Welcome to Happy Snacky!</h1>

    <h2>Login</h2>
    
    <form action="/login" method="POST">

        <p> 
            Email <input type="text" name="email">
        </p>

        <p> 
            Password <input type="password" name="password">
        </p>    

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                 <strong>{{ message }}</strong>
       {% endfor %}
    {% endif %}
 {% endwith %}

        <p>
            <input type="submit" value="Login">
        </p>

        <p> New here? <a href="/register">Sign Up</a> for a new account. </p>   



    </form>



    <form action="/random" method="POST">

        <p> Don't know what to eat? </p>
        <p>Select the filters, and generate a random snack by clicking in the buttom below </p>
        
       
        <input type="checkbox" id="egg-free" value="egg free" name="restrictions2">
        <label for="egg_free"> Egg free</label><br>
        <input type="checkbox" id="peanut-free"  value="peanut free" name="restrictions2">
        <label for="peanut_free"> Peanut free</label><br>
        <input type="checkbox" id="nut-free" value="nut free" name="restrictions2">
        <label for="nut_free"> Nut free</label><br>
        <input type="checkbox" id="soy-free" value="soy free" name="restrictions2">
        <label for="soy_free"> Soy free</label><br>
        <input type="checkbox" id="corn-free" value="corn free" name="restrictions2">
        <label for="corn_free"> Corn free</label><br>
        <input type="checkbox" id="sugar-free" value="sugar free" name="restrictions2">
        <label for="sugar_free"> Sugar free</label><br>
        <input type="checkbox" id="dairy-free" value="dairy free" name="restrictions2">
        <label for="dairy_free"> Dairy free</label><br>
        <input type="checkbox" id="gluten-free" value="gluten free" name="restrictions2">
        <label for="gluten_free"> Gluten free</label><br>
        <input type="checkbox" id="msg-free" value="msg free" name="restrictions2">
        <label for="msg_free"> Msg free</label><br>
        <input type="checkbox" id="vegan" value="animal free" name="restrictions2">
        <label for="vegan"> Animal free (Vegan Diet)</label><br>
        <input type="checkbox" id="vegetarian" value="meat free" name="restrictions2">
        <label for="vegetarian'"> Meat free (Vegetarian Diet)</label><br>
     
        <button type="submit" class="btn btn-primary btn-lg btn-block">Random snack</button>

      
       
    
       
   


    </form>



    {% endblock %}

