<div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0.1rem;">
    <a class="navbar-brand" href="#">
      <h1><i class="bi bi-egg"></i></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="font-size: 1.2rem;">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forums</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/savedsnacks">Saved</a>
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" name="logout" href="/logout"><strong>Log Out</strong></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<style>
.navbar {
  background: linear-gradient(to right, #7db66f, #a4df9c, #cce2cb, #e4f5e4, #fffffe);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  opacity: 0.9;
}

.navbar a {
  color: #fcf6f6;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #0f0e0e;
}

.navbar .dropdown-menu {
  background-color: #050505;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  display: none;
}

.navbar .dropdown-menu a {
  color: #faf5f5;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar .dropdown-menu a:hover {
  background-color: #8bb880;
  color: #ffffff;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

</style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     
      
  
    
  
  
  











{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}
{% block head%} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

  {# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

  {# randomColor: generate random colors #}
  <script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
   {% endblock %}
{% block body %}

      <br>

    {% if data%}    

       <!-- GREEN SAVE BUTTON/SAFE LIST  -->
        <form action="/savesnacks" method="POST">
        
        <input type="hidden" value="{{data['title']}}" name="title" >
        <input type="hidden" value="{{data['image']}}" name="image">
        <button class="a btn btn-success" type="submit" name="saves"><i class="bi bi-bookmark-heart-fill"></i> | Save </button>

        </form>



        <!-- DATA PRODUCT INFO -->    
        <input type="hidden" value="{{data['id']}}" name="title" id="product-id" >
        <div id="products">
            <div id="title-products"><h4>{{data['title']}}</h4><br></div>
                <div id="image-products"><img src="{{data['image']}}"><br></div> 
                    <div id="info-products" >
                        <h5>Ingredients:
                            {% for ingredient in data['ingredients']%}
                            
                            <span data-bs-placement="top" data-bs-title="Tooltip on top" id="info-product" value="{{ingredient.safety_level}}" 
                            title="This ingredient is part of your dietary restrictions">{{ingredient.name}}</span>
                                {% if not loop.last %}
                                <span>,</span>
                                {% endif %}
                                {% endfor %} 
                                {% endif %}
                                </h5>
                                </div>

                                <h5><div id="badges">
                                    <i class="bi bi-info-square-fill" style="color:rgb(61, 216, 61)"></i> This product should be
                                    {% for badge in data['importantBadges'] %}

                                        {{badge | replace("_", " ") }}

                                      {% if not loop.last %}
                                        <span>,</span>
                                        {% endif %}
                                    {% endfor %}
                                 
                                    </div>
                                </h5> 
                                     <!-- NUTRICIONAL INFO DATA JS CHART/ TABLE-->    
                                    <br><p><h4>Nutricional Information</h4></p>

                              

                                    <div  style="width:30%"> 
                                    <canvas id="myChart" ></canvas>

                                </div>
                                <div class="table-nutrients">
                                  <h4>Nutrients Table</h4>
                                <table style="border: 1px solid black; border-collapse: collapse;">
                                  <tr>
                                    <th style="border: 1px solid black; padding: 5px;">Nutrient</th>
                                    <th style="border: 1px solid black; padding: 5px;">Amount</th>
                                  </tr>
                                  {% for nutrient in data['nutrition']['nutrients'] %}
                                    <tr>
                                      {% if nutrient['name'] == 'Calories' %}
                                        <td><strong>Calories</strong></td>
                                        <td>{{ nutrient['amount'] }}</td>
                                      {% endif %}
                                    </tr>
                                  {% endfor %}
                                  {% for nutrient in data['nutrition']['nutrients'] %}
                                    <tr style="border: 1px solid black; padding: 5px;">
                                      {% if nutrient['name'] != 'Calories' %}
                                        <td style="border: 1px solid black; padding: 5px;">{{ nutrient['name'] }}</td>
                                        <td style="border: 1px solid black; padding: 5px;">{{ nutrient['amount'] }}</td>
                                      {% endif %}
                                    </tr>
                                  {% endfor %}
                                </table>
                              </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/main.js"></script>







{% endblock %}