{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}
{% block head%} <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

  {# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

  {# randomColor: generate random colors #}
  <script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
   {% endblock %}
{% block body %}

      

    {% if data%}    

       <!-- GREEN SAVE BUTTON  -->
        <form action="/safesnacks" method="POST">

        <input type="hidden" value="{{data['title']}}" name="title" >
        <input type="hidden" value="{{data['image']}}" name="image">
        <button class="a btn btn-success" type="submit" name="saves"><i class="bi bi-bookmark-heart-fill"></i> | Save For Later</button>

        </form>

        <!-- RED SAVE BUTTON  -->         
        <form action="/notsafesnacks" method="POST">

        <input type="hidden" value="{{data['title']}}" name="title" id="product-title" >
        <input type="hidden" value="{{data['image']}}" name="image" id="product-image">
        <input type="hidden" value="{{data['ingredientList']}}" name="ingredients" id="ingredients">
        <button class="b btn btn-danger" type="submit" name="saven"><i class="bi bi-emoji-frown"></i> | Not Safe List</button>
        </form>

        <!-- DATA PRODUCT INFO -->    
        <input type="hidden" value="{{data['id']}}" name="title" id="product-id" >
        <div id="products">
            <div id="title-products"><h4>{{data['title']}}</h4><br></div>
                <div id="image-products"><img src="{{data['image']}}"><br></div> 
                    <div id="info-products" >
                        <h5>Ingredients:
                            {% for ingredient in data['ingredients']%}
                            
                            <span data-bs-placement="top" data-bs-title="Tooltip on top" id="info-product" value="{{ingredient.safety_level}}" title="This ingredient is part of your dietary restrictions">{{ingredient.name}}</span>
                                {% if not loop.last %}
                                <span>,</span>
                                {% endif %}
                                {% endfor %} 
                                {% endif %}
                                </h5>
                                </div>
                                <h5><div id="badges">
                                    <i class="bi bi-info-square-fill" style="color:rgb(61, 216, 61)"></i> This product should be
                                    {% for badge in data['importantBadges'] %}
                                        {{badge}}
                                      {% if not loop.last %}
                                        <span>,</span>
                                        {% endif %}
                                    {% endfor %}


                                     <!-- NUTRICIONAL INFO DATA IN JS CHART-->    
                                    <p>Nutricional Information</p>

                                </div></h5> 

                                    <div  style="width:30%"> 
                                    <canvas id="myChart" ></canvas>

                                </div>
                                    <div id="nutrient-table" style="border: 1px; color:black;">
                                    
                                    {% for nutrient in data['nutrition']['nutrients']%}
                        
                                        <br>{{nutrient['name']}}: {{nutrient['amount']}}
                                      
                                        {% endfor %}
                                   
                                    </div>         
                                </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/search-data.js"></script>







{% endblock %}