<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<style>

body {
        
 margin-top: 200px;
 background-image: url('static/img/background-resetp.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
    }
        
        
p {
        
 color:white;
 }
        
h1 {
        
 color:white;
}
        
.container {

 height: 500px;
 width: auto;
 display: flex;
 align-items: center;
         
}
        
</style>

    <title>New Password</title>

  </head>
<body>
 <div class="password-reset-form">

    <div class="container">
        <div class="row justify-content-center">
        <h1>New Password</h1>
        <br>
        <div class="col-md-6">
    
        <form action="/process_request_password" method="POST">
            <br>
            <p>
            Type your new password below:<br>
            </p>

                <p> 
                Password <input type="password" name="new-password" class="form-control" required>
                </p>    

                <p>
                Confirm Password <input type="password" name="confirm-password" class="form-control" required>
                </p>

            <button type="submit" class="main-button" id="send_email" name="reset-password">Reset Password</button>
            <br>
        </form>
        </div> 
        </div>
    </div>
</div>  

</body>

</html>