{% extends 'base.html' %}

{% block title %}Reports{% endblock %}

<style>

  .forum-title {
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    padding: 20px;
  }
  
  </style>

{% block body %}
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="forum-title">
        <h1 class="text-center">Bugs Reports</h1>
        {% if comments is defined %}
          {% for comment in comments %}
            <div class="media">
              <img class="mr-3" src="{{comment.user.avatars[0].avatar}}" alt="{{comment.user.fname}} Avatar" style="width: 60px;">
              <div class="media-body">
                <h5 class="mt-0">{{comment.user.fname}}</h5>
                <p>{{comment.comments}}</p>
                <form action="/delete_comments_rep" class="forum-comments">
                <button type="submit" class="btn btn-link" id="delete-rep" value="{{comment.comments}}" name="comment-delete">Delete</button>
                </form>
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
        <form action="/forum_comments_reports" class="forum-comments">
          <div class="form-group">
            <label for="comment">Report a bug:</label>
            <textarea class="form-control" id="comment" rows="3" name="comment_rep"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}