
<div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0.1rem;">
    <a class="navbar-brand" href="#">
      <h1><i class="bi bi-egg"></i></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="font-size: 1.2rem;">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forums</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/savedsnacks">Saved</a>
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" name="logout" href="/logout"><strong>Log Out</strong></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<style>
.navbar {
  background: linear-gradient(to right, #7db66f, #a4df9c, #cce2cb, #e4f5e4, #fffffe);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  opacity: 0.9;
}

.navbar a {
  color: #fcf6f6;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #0f0e0e;
}

.navbar .dropdown-menu {
  background-color: #050505;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  display: none;
}

.navbar .dropdown-menu a {
  color: #faf5f5;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar .dropdown-menu a:hover {
  background-color: #8bb880;
  color: #ffffff;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

</style>



{% extends 'base.html' %}

{% block title %}Reports{% endblock %}

<style>

  .forum-title {
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    padding: 20px;
  }
  
  </style>

{% block body %}
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="forum-title">
        <h1 class="text-center">Bugs Reports</h1>
        {% if comments is defined %}
          {% for comment in comments %}
            <div class="media">
              <img class="mr-3" src="{{comment.user.avatars[0].avatar}}" alt="{{comment.user.fname}} Avatar" style="width: 60px;">
              <div class="media-body">
                <h5 class="mt-0">{{comment.user.fname}}</h5>
                <p>{{comment.comments}}</p>
                <form action="/delete_comments_rep" class="forum-comments">
                <button type="submit" class="btn btn-link" id="delete-rep" value="{{comment.comments}}" name="comment-delete">Delete</button>
                </form>
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
        <form action="/forum_comments_reports" class="forum-comments">
          <div class="form-group">
            <label for="comment">Report a bug:</label>
            <textarea class="form-control" id="comment" rows="3" name="comment_rep"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}