{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

{% block body %}


 <div class="reset-form">

        <h2>Reset Password </h2>
    
        <form action="/reset_password" method="POST">
            <p>
            Please type the email you used to create your account bellow:<br>
            </p>

            <p> 
             Email <input type="text" name="email_db">
            </p>

            <button type="submit" class="main-button" id="send_email" name="send-link">Send Link</button>
            <br>

        </form>
    </div>

{% endblock %}