{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

{% block body %}


<div class="form-row">
        <div class="form-group col-md-7">

<strong> SNACKS FOR LATER </strong>
{% for saved_snack in saved_snacks %}


        <p>{{saved_snack['title']}}</p>
        <img src="{{saved_snack['image']}}"><br>

        <button type="button" class="btn btn-link" id="delete-safe">Delete</button>
{% endfor %}

</div>
</div>

<div class="form-group col-md-5">

      
<strong> NOT SAFE FOR ME :( </strong>

{% for snack in not_safe %}

  
        <p>{{snack['title']}}</p>
        <img src="{{snack['image']}}">
        <p><h6>{{snack['ingredients']}}</h6></p>


 
        <button type="button" class="btn btn-link" id="delete-notsafe">Delete</button>
{% endfor %}
</div>


<script src="/static/search-data.js"></script>

{% endblock %}