
{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

{% block body %}


<style>


.card {
  width: 300px;
  height: 480px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 10px;
}

.card p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card button {
  font-size: 12px;
  padding: 5px 10px;
}

</style>



<br>


<h1 style="text-align: center;">Saved Products</h1><br>
<form action="/remove_savedsnacks" method="POST">
    <div class="container">
  <div class="row justify-content-center products-container">
    {% for saved_snack in saved_snacks[::-1] %}
    <div class="col-md-4 product-card">
      <div class="card mb-4">
        <div class="snack-saved">
          <img src="{{ saved_snack['image'] }}" class="card-img-top" alt="{{ saved_snack['title'] }}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ saved_snack['title'] }}</h5>
          <button type="submit" class="btn btn-link delete-btn" name="delete-safe" value="{{saved_snack['title']}}" onclick="return confirm('Are you sure you want to delete this product?')">Delete</button>
        
        </div>
      </div>
    </div>
    {% endfor %}
  </div>  
    </div>
  
</form>


<div class="footer" style="position: fixed; text-align: center; bottom: 30px; width: 100%;"> 
<a href="/search" style=" color: rgb(132, 182, 132); margin: 0; font-family: 
arial; font-size:  20px; font-weight: bold; border: 2px solid rgb(132, 182, 132);">New Search</a> 
</div>


<script>

const productCards = document.querySelectorAll('.product-card');
const numToShow = 6;
const numAdditional = 3;

for (let i = numToShow; i < productCards.length; i++) {
  productCards[i].style.display = 'none';
};

const showMoreBtn = document.createElement('button');
showMoreBtn.textContent = 'Show More';
showMoreBtn.classList.add('btn', 'btn-primary');
showMoreBtn.addEventListener('click', function(event) {
  event.preventDefault(); 

  const visibleCards = document.querySelectorAll('.product-card:not([style*="display: none"])');
  const numVisible = visibleCards.length;


  for (let i = numVisible; i < numVisible + numAdditional && i < productCards.length; i++) {
    productCards[i].style.display = 'block';
  }

 
  if (numVisible + numAdditional >= productCards.length) {
    showMoreBtn.style.display = 'none';
  }
});

const container = document.querySelector('.container');
container.appendChild(showMoreBtn);


</script>

<script src="/static/js/main.js"></script>


{% endblock %}