{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

  
{% block body %}    


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<style>


body {
  background-image: url('static/img/light-gray-concrete-wall_53876-89532.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  }


button {
  background-color: #111111;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8fcc9e;
}


a:hover {
 
color: #8fcc9e;
}

</style>

<br>

<div class="product-search" style="margin-top: 60px;" >
  
  <form action="/search" method="POST">  
  
    <!-- FORMAT -->

    <div class="col-md-12">
      <div class="grid search">
        <div class="grid-body">
          <div class="row">
           
            <!-- FILTERS TITLE-->

            <div class="col-md-3">
              <div class="card p-3 rounded">
               <div class="card-body">
              <h2 class="grid-title"><i class="bi bi-funnel"></i> Filters</h2><br>
             
            
              <!-- FILTERS -->
              
              <h4>By dietary restriction:</h4>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="sugar_free" name="restrictions-search"> Sugar Free</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="nut_free" name="restrictions-search"> Nut Free</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="peanut_free" name="restrictions-search"> Peanut Free</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="soy_free" name="restrictions-search"> Soy Free</label>
              </div>
              <div class="checkbox">
              <label><input type="checkbox" class="check" value="dairy_free" name="restrictions-search"> Lactose Free</label>
              </div>
              <div class="checkbox">
              <label><input type="checkbox" class="check" value="egg_free" name="restrictions-search"> Egg Free</label>
              </div>
              <div class="checkbox">
              <label><input type="checkbox" class="check" value="corn_free" name="restrictions-search"> Corn Free</label>
              </div>
            
  
              <div class="checkbox">
  
                <div class="checkbox">
                  <label><input type="checkbox" class="check" value="gluten_free" name="restrictions-search"> Gluten Free</label>
                </div>
                <label><input type="checkbox" class="check" value="msg_free" name="restrictions-search"> Msg Free</label>
              </div>
              
          
              <div class="checkbox"><br>
  
              <h4>By special diet:</h4>
                <label><input type="checkbox" class="check" value="vegetarian" name="restrictions-search"> Vegetarian</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="vegan" name="restrictions-search"> Vegan</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="check" value="kosher" name="restrictions-search"> Kosher</label>
              </div>
            </div> 
        </div>
   </div>
            <!-- RESULTS -->
            <div class="col-md-6 product-card">
              <div class="card mb-6">
            <div class="col-md-9">
             
              <br>
              <h2><i class="bi bi-cup-straw"></i> Results</h2>
              
              <hr>

              <!-- SEARCH BAR -->

              <div class="main-search-input fl-wrap">
                <h2><div class="main-search-input-item">
                  <input type="text" name="product" id="search-bar" value="{{ query if query is defined else '' }}" placeholder="Search Products...">             
                    <button class="main-search-button">Search</button>
                    
                  </div></h2>
                  <br>
                  {% if paginated_products is defined %}
                    <div class="results">
                    
                        {% for product in paginated_products %}
                        
                        <h3 ><a href="/info/{{product['id']}}">{{ product['title'] }}</a></h3><br>
        
                              <img src="{{ product['image'] }}" style=" max-height: 300px; object-fit: contain" ><br>
                       
                          <hr>
                        {% endfor %}


                     <!-- FLASH MESSAGE FOR NO MATCH RESULTS  -->

                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                     {% for message in messages %}
                      <strong>{{ message }}</strong>
                     {% endfor %}
                   {% endif %}
                 {% endwith %} <br>
                    </div>

                     <!-- PAGINATION  -->
                     <div class="pagination">
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                          {% if page != 1 %}
                          
                          <li class="page-item">
                           
                            <a class="page-link" href="{{ url_for('find_snack', query=query, restrictions=restrictions, page=page-1) }}">Previous</a>
                          </li>
                          
                          {% endif %}
                          <div class="page-item-disabled">
                            <li class="page-item">
                              {% if page < total_pages %}
                              <a class="page-link" href="{{ url_for('find_snack', query=query, restrictions=restrictions, page=page+1) }}">Next</a>
                              {% endif %}
                            </li>
                          </div>
                        </ul>
                      </nav>
                      {% endif %}
                    </div>
                </div>
              </div>
            </div>
          </div>
       </div>
     </div>
    </div>
  </div> 
  </form>              
  </div>   
 

    
  {% endblock %}

    

