<!DOCTYPE html>

<div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(132, 182, 132); padding: 1rem;">
    <a class="navbar-brand" href="#">
      <h1><i class="bi bi-egg"></i></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="font-size: 1.2rem;">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forums</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/savedsnacks">Saved</a>
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" name="logout" href="/logout"><strong>Log Out</strong></a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<style>
  .nav-item {
  
   font-family: Courier New black;
   font-weight: bold;
   font-size: 25px;
   
  
  
      }
  </style>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    

  













{% extends 'base.html' %}
{% block title %}Happy Snacky{% endblock %}

  
{% block body %}    

<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">





<div class="product-search" >
  
  <form action="/search" method="POST">  
  
  <!-- FORMAT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        
        <div class="row">
         
          <!-- FILTERS TITLE-->
          <div class="col-md-3">
            <h2 class="grid-title"><i class="bi bi-funnel"></i> Filters</h2>
            <hr>
          
            <!-- FILTERS -->
            
            <h4>By dietary restriction:</h4>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="sugar_free" name="restrictions-search"> Sugar Free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="nut_free" name="restrictions-search"> Nut Free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="peanut_free" name="restrictions-search"> Peanut Free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="soy_free" name="restrictions-search"> Soy Free</label>
            </div>
            <div class="checkbox">
            <label><input type="checkbox" class="check" value="dairy_free" name="restrictions-search"> Lactose Free</label>
            </div>
            <div class="checkbox">
            <label><input type="checkbox" class="check" value="egg_free" name="restrictions-search"> Egg Free</label>
            </div>
            <div class="checkbox">
            <label><input type="checkbox" class="check" value="corn_free" name="restrictions-search"> Corn Free</label>
            </div>
          

            <div class="checkbox">

              <div class="checkbox">
                <label><input type="checkbox" class="check" value="gluten_free" name="restrictions-search"> Gluten Free</label>
              </div>
              <label><input type="checkbox" class="check" value="msg_free" name="restrictions-search"> Msg Free</label>
            </div>
            
        
            <div class="checkbox"><br>

            <h4>By special diet:</h4>
              <label><input type="checkbox" class="check" value="vegetarian" name="restrictions-search"> Vegetarian</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="vegan" name="restrictions-search"> Vegan</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="check" value="kosher" name="restrictions-search"> Kosher</label>
            </div>
          </div> 

          <!-- RESULTS -->
          <div class="col-md-9">
           
            
            <h2><i class="bi bi-cup-straw"></i> Results</h2>
            <hr>
              
          <!-- SEARCH BAR -->
              <div class="main-search-input fl-wrap">
                <h2><div class="main-search-input-item">
                  <input type="text" name="product" id="search-bar" value="" placeholder="Search Products...">             
                    <button class="main-search-button">Search</button>
                    
                  </div></h2>
                  </div>
            
              {% if data%}    
                  {% for product in data['products'] %}
            
                    <p> <a href="/info/{{product['id']}}">{{product['title']}}</a></p>
            
                    <img src="{{product['image']}}">
                          
                  {% endfor %}
              {% endif %}

                <!-- FLASH MESSAGE FOR NO MATCH RESULTS  -->
      

                  {% with messages = get_flashed_messages() %}
                   {% if messages %}
                      {% for message in messages %}
                       <strong>{{ message }}</strong>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
    </div>
            </div>
            </div>
          </div>
         </div>
    
     
    </form>


      

    
{% endblock %}

